<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nueva Orden de Trabajo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript-->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../assets/js/sb-admin-2.min.js"></script>
  <script src="../assets/vendor/chart.js/Chart.min.js"></script>
</head>
<body style="background-color: #C4C4C4;">
  <app-nav></app-nav>
    <div id="content-wrapper" style="padding:5%; background-image: url('./assets/img/background4.jpg'); background-position: center; background-size: cover;">
      <div id="content">
	<div class="row">
		<div class="col-6">
			<section class="section section-container">
        <div class="box" style="align-content: center;">
          <h2>Agregar nuevo producto</h2>
          <form [formGroup]="Productoform" (ngSubmit)="onSubmit(Productoform.value)">
            <div class="field">
              <div class="row">
                <div class="col-1-sm">
                  <img style="padding:10px;" src="../assets/icons/svg/work_c.svg"  width="72" class="d-inline-block align-center" alt="">
                </div>
                <div class="col-6">
                  <label>Nombre del nuevo producto:
                    <input class="input" clearInput  type="text" formControlName="nombre_tipo">
                  </label>
		          	</div>
              </div>
              <div class="field">
                <div class="control">
                  <button class="button is-success">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
  	</div>
  	<div class="col-6">
  		<section class="section section-container" style="padding-bottom: 10px;">
  			<div class="box">
  				<h2>Productos</h2>
  				<table class="table table-hover">
		            <thead>
		              <tr>
		                <th scope="col">#</th>
		                <th scope="col">Tipo</th>
		              </tr>
		            </thead>
		            <tbody>
		              <tr *ngFor="let prod of tipo$.data">
		                <th scope="row">{{prod.idTipo}}</th>
		                <td>{{prod.nombre_tipo}}</td>
		              </tr>
		          	</tbody>
		      	</table>
		      </div>
		  </section>
		</div>
	</div>
</div></div>
</body>
