<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nueva Orden de Trabajo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript-->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../assets/js/sb-admin-2.min.js"></script>
  <script src="../assets/vendor/chart.js/Chart.min.js"></script>
</head>
<body>
  <app-nav></app-nav>
  <div id="content-wrapper" class="d-flex flex-column" style="background-image: url('./assets/img/background4.jpg'); background-position: center; background-size: cover;">
    <div id="content">
      <div class="container-fluid" style="width: 1000px;">
        <section class="section section-container" style="padding-bottom: 10px; width:100%;">
          <div class="box" style="color: #FF0022;">
            <div class="row" style="margin-bottom: 2%;">
              <div class="col-2-sm" style="margin-left: 5%;">
                <img  src="../assets/icons/svg/profile_c.svg"  width="72" class="d-inline-block align-center" alt="">
              </div>
              <div class="col-8">
                <br>
                <h2>Ficha de orden de trabajo</h2>
              </div>
            </div>
            <div class="row" *ngFor = "let ot of dataOT$.data">
              <div class="col-8" style="color:#4C4C4E; padding-left: 5%;">
                <div class="list-group" style="border: transparent;">
                  <div class="list-group-item" style="border: transparent; background-color:#f8f9f9;">
                    <ul class="list-group" style="background-color:#f4f4f4;">
                      <li class="list-group-item" style="width: 350px; border: transparent; background-color:transparent;">
                        Nombre Cliente:<br> {{ot.nombre}} {{ot.apellido_p}} {{ot.apellido_m}}
                      </li>
                      <li class="list-group-item"style="width: 350px; border: transparent; background-color:transparent;">Motocicleta: {{ot.motocicleta}}</li>
                      <li class="list-group-item"style="width: 350px; border: transparent; background-color:transparent;">Tipo de trabajo: {{ot.tipo}}</li>
                      <li class="list-group-item"style="width: 350px; border: transparent; background-color:transparent;">Fecha de Inicio: {{ot.fecha_llegada}}</li>
                      <li class="list-group-item"style="width: 350px; border: transparent; background-color:transparent;">Fecha de Entrega: {{ot.fecha_entrega}}</li>
                      <li class="list-group-item" *ngIf="!ot.esPrioridad" style="width: 350px; border: transparent; background-color:transparent;">Prioridad por: {{ot.motivo_prioridad}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card border-left-warning shadow" *ngIf="ot.estado == 'En ejecución'">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Estado</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{ot.estado}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card border-left-success shadow" *ngIf="ot.estado == 'Finalizado'">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Estado</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{ot.estado}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card border-left-danger shadow" *ngIf="ot.estado == 'No iniciado'">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Estado</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{ot.estado}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <button type="button"  style="width:150px" class="btn btn-info" (click)="generateReport()">Generar Reporte</button>
              </div>
            </div>


            <div class="row">
              <div class="col-10" style="color:#4C4C4E; padding-left: 10%; ">
                <br>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead class="table-info">
                      <tr class="table-info">
                        <th class="col-1 table-info">#</th>
                        <th class="col-4">Actividad</th>
                        <th class="col-4">Fecha de completado</th>
                        <th class="col-3">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let act of Actividade$.data | paginate:{itemsPerPage: 8, currentPage:p}">
                        <th class="table-info" style="text-align: center;" scope="row">{{act.actividad_id}}</th>
                        <td>{{act.actividad}}</td>
                        <td>{{act.fecha_finalizado}}</td>
                        <td>
                          <a (click)="gotoDetailsAct(act.idRelacion)" class="btn btn-info" style="color:white;">
                            <div class="row">
                              <div class="col-8">
                                <h5 style="font-size: 12px;">Detalles/<br>Editar </h5>
                              </div>
                              <div class="col-4">
                                <img  src="../assets/icons/svg/edit(2).svg"  width="20" class="d-inline-block align-center" alt="">
                              </div>
                            </div>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>
