<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Dashboard General</title>

  <!-- Bootstrap core JavaScript-->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../assets/js/sb-admin-2.min.js"></script>
  <script src="../assets/vendor/chart.js/Chart.min.js"></script>
</head>

<body>
  <div class="page">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="d-flex flex-column">
      <div class="content">
          <section class="section section-container" style="padding-bottom: 15px;">
            <div class="box">
            <div class="row" style="margin-bottom: 2%; padding-left: 10%;">
              <div class="col-2">
                <img  src="../assets/icons/svg/profile_c.svg"  width="72" align="middle" alt="">
              </div>
              <div class="col-8">
                <br>
                <h2>Ficha de orden de trabajo</h2>
              </div>
            </div>
            <div class="row" *ngFor = "let ot of dataOT$.data">
              <div class="col-6" style="color:#4C4C4E; padding-left: 12%;">
                <div class="list-group" style="border: transparent;">
                  <div class="list-group-item" style="border: transparent; background-color:#f8f9f9;">
                    <ul class="list-group" style="background-color:#f4f4f4;">
                      <li class="list-group-item" style="width: 350px; border: transparent; background-color:transparent;">
                        Nombre Cliente:<br> {{ot.nombre}} {{ot.apellido_p}} {{ot.apellido_m}}
                      </li>
                      <li class="list-group-item"style="width: 350px; border: transparent; background-color:transparent;">Motocicleta: {{ot.motocicleta}}</li>
                      <li class="list-group-item"style="width: 350px; border: transparent; background-color:transparent;">Tipo de trabajo: {{ot.tipo}}</li>
                      <li class="list-group-item"style="width: 350px; border: transparent; background-color:transparent;">Fecha de Inicio: {{ot.fecha_llegada}}</li>
                      <li class="list-group-item"style="width: 350px; border: transparent; background-color:transparent;">Fecha de Entrega: {{ot.fecha_entrega}}</li>
                      <li class="list-group-item" *ngIf="ot.esPrioridad" style="width: 350px; border: transparent; background-color:transparent;">Prioridad por: {{ot.motivo_prioridad}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-4"  style="padding-left: 10%;">
                <div class="card border-left-warning shadow" *ngIf="ot.estado == 'En ejecución'">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Estado</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{ot.estado}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card border-left-success shadow" *ngIf="ot.estado == 'Finalizado'">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Estado</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{ot.estado}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card border-left-danger shadow" *ngIf="ot.estado == 'No iniciado'">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Estado</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{ot.estado}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row" *ngIf="ot.estado == 'Finalizado' || ot.estado == 'No iniciado'">
                  <button type="button"  style="width:150px" class="btn btn-success" disabled (click)="Finalizado()">Entregado</button>
                </div>
                <div class="row" *ngIf="ot.estado == 'En ejecución'">
                  <button type="button"  style="width:150px" class="btn btn-success" (click)="Finalizado()">Entregado</button>
                </div>
                <br>
                <div class="row">
                  <button type="button"  style="width:150px" class="btn btn-warning" (click)="generateReport()">Generar Reporte</button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-10" style="color:#4C4C4E; padding-left: 10%;">
                <br>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="col-1 text-center">#</th>
                        <th class="col-4 text-center">Actividad</th>
                        <th class="col-2 text-center">Estado</th>
                        <th class="col-3 text-center"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let act of ActividadeOT$.data">
                        <th class="text-center" scope="row">{{act.actividad_id}}</th>
                        <td class="text-center">{{act.actividad}}</td>
                        <td class="text-center">{{act.estado}}</td>
                        <td class="text-center">
                          <div class="row">
                            <div class="col" *ngIf="act.estado != 'No aplica' ">
                              <button (click)="gotoDetailsAct(act.idRelacion)" class="btn btn-light">
                                <img  src="../assets/icons/svg/edit(2).svg"  width="20">
                              </button>
                            </div>
                            <div class="col" *ngIf="act.estado == 'No aplica' ">
                              <button (click)="gotoDetailsAct(act.idRelacion)" disabled class="btn btn-light">
                                <img  src="../assets/icons/svg/edit(2).svg"  width="20">
                              </button>
                            </div>
                            <div class ="col" *ngIf="!act.estado">
                              <button (click)="Estado(act.idRelacion, 'Aplica')" class="btn btn-light">
                                <img  src="../assets/icons/svg/check_3.svg"  width="20">
                              </button>
                            </div>
                            <div class ="col" *ngIf="act.estado">
                              <button (click)="Estado(act.idRelacion, 'Aplica')" disabled class="btn btn-light">
                                <img  src="../assets/icons/svg/check_3.svg"  width="20">
                              </button>
                            </div>
                            <div class ="col" *ngIf="act.estado == 'No aplica' || !act.estado">
                              <button (click)="Estado(act.idRelacion, 'No aplica')" class="btn btn-light">
                                <img  src="../assets/icons/svg/equis_3.svg"  width="20">
                              </button>
                            </div>
                            <div class ="col" *ngIf="act.estado == 'Aplica' || act.estado == 'Iniciada' || act.estado == 'Finalizada'">
                              <button (click)="Estado(act.idRelacion, 'No aplica')" disabled class="btn btn-light">
                                <img  src="../assets/icons/svg/equis_3.svg"  width="20">
                              </button>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>
