<div class="header">
	<nav>
		<a routerLink="/home">
	    	<img  src="./assets/icons/svg/home.svg">
	    	<br>
	    	Inicio
	    </a>
	    <a routerLink="/clientes">
	    	<img  src="./assets/icons/svg/worker.svg">
	    	<br>
	    	Clientes
	    </a>
	    <a routerLink="/ficha">
	    	<img   src="./assets/icons/svg/helmet_c.svg">
	    	<br>
	    	Ordenes de Trabajo
	    </a>
	    <a routerLink="/new">
	    	<img  src="./assets/icons/svg/add-file(1).svg">
	    	<br>
	    	Nuevo Ítem
	    </a>
	    <a routerLink="/charts">
	    	<img  src="./assets/icons/svg/stats.svg">
	    	<br>
	    	Análisis estadístico
	    </a>	
	    <div class="animation start-home"></div>
	</nav>
</div>