<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nueva Orden de Trabajo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript-->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../assets/js/sb-admin-2.min.js"></script>
  <script src="../assets/vendor/chart.js/Chart.min.js"></script>
</head>

<body>
	<div class="box" style="color: #FF0022;">              
		<h1>Datos de Clientes</h1>
		<form [formGroup]="OTform" (ngSubmit)="onSubmit(OTform.value)">
			<h5 *ngIf="success">Your form is valid!</h5>
			<h3 class='subtitle'>{{ title }}</h3>
			<div class="field">
				<div class="row">
					<div class="col-1-sm">
						<img style="padding:10px; padding-left: 20px" src="../assets/icons/svg/motorcyclist_c.svg"  width="72" class="d-inline-block align-center" alt="">
					</div>
					<div class="col-9">
						<div class="row">
					 		<div class="col-12">
					 			<label>Nombre Completo</label>
					 			<div class="control">
					 				<div class="row">
					 					<div class="col-6">
					 						<input class="input" type="text" placeholder="Nombre"  formControlName="Nombre">
					 					</div>
					 					<div class="col-3">
					 						<input class="input" type="text" placeholder="Apellido Paterno Apallido Materno"  formControlName="ApellidoPat">
					 					</div>
					 					<div class ="col-3">
					 						<input class="input" type="text" placeholder="Apallido Materno"  formControlName="ApellidoMat">
					 					</div>
					 				</div>
					 				
	                     		</div>
	                     	</div>
	                     	<div class="col-9">
	                     		<label>RUT</label>
	                     		<div class="control">
	                     			<input class="input" type="text" placeholder="XX.XXX.XXX-X"  formControlName="Rut">
	                     		</div>
	                     	</div>
	                    </div>
	                </div>
				</div>
			</div>
			<div class="field">
				<div class="row">
					<div class="col-1-sm">
						<img style="padding:10px; padding-left: 20px" src="../assets/icons/svg/email_c.svg"  width="72" class="d-inline-block align-center" alt="">
					</div>
					<div class="col-9">
						<label>Correo electrónico</label>
						<div class="control">
							<input class="input" type="email" placeholder="ejemplo@ejemplo.com"  formControlName="correo">
						</div>
					</div>
				</div>
			</div>
			<div class="field">
				<div class="row">
					<div class="col-1-sm">
						<img style="padding:10px; padding-left: 20px" src="../assets/icons/svg/house_c.svg"  width="72" class="d-inline-block align-center" alt="">
					</div>
					<div class="col-9">
						<label>Dirección</label>
						 <div class="row">
	                     	<div class="col-3">
	                     		<label style="font-size: 14px;">Calle</label>
	                     		<div class="control">
	                     			<input class="input" type="text" placeholder="Calle/Población/Villa"  formControlName="Dir_calle">
	                     		</div>
	                     	</div>
	                     	<div class="col-3">
	                     		<label style="font-size: 14px;">Número/Depto</label>
	                     		<div class="control">
	                     			<input class="input" type="text" placeholder="#"  formControlName="Dir_numero">
	                     		</div>
	                     	</div>
	                     	<div class="col-3">
	                     		<label style="font-size: 14px;">Comuna</label>
	                     		<div class="control">
	                     			<input class="input" type="text" placeholder="Comuna"  formControlName="Dir_comuna">
	                     		</div>
	                     	</div>
	                     	<div class="col-3">
	                     		<label style="font-size: 14px;">País</label>
	                     		<div class="control">
	                     			<input class="input" type="text" placeholder="Pais"  formControlName="Dir_comuna">
	                     		</div>
	                     	</div>
	                    </div>
					</div>
				</div>
			</div>
			  <div class="field">
                  <div class="row">
                    <div class="col-1-sm">
                      <img style="padding:10px; padding-left: 20px" src="../assets/icons/svg/phone_c.svg"  width="72" class="d-inline-block align-center" alt="">
                    </div>
                    <div class="col-9">
	                    <label>Teléfono</label>
	                     <div class="row">
	                     	<div class="col-6">
	                     		<label style="font-size: 14px;">Teléfono fijo</label>
	                     		<div class="control">
	                     			<input class="input" type="text" placeholder="(xx) xxx xxx xxx"  formControlName="Telefono">
	                     		</div>
	                     	</div>
	                     	<div class="col-6">
	                     		<label style="font-size: 14px;">Celular</label>
	                     		<div class="control">
	                     			<input class="input" type="text" placeholder="(+569) xxx xxx xxx"  formControlName="Celular">
	                     		</div>
	                     	</div>
	                    </div>
	                </div>
                </div>
			</div>
	    </form>
	</div>
</body>
