
  a[_ngcontent-vrn-c1]:hover {
    color: #4C4C4E;
    text-decoration: underline;
	}

	a{
		color:#4C4C4E;
	}
	
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 90px;
    border: 0.9px solid #b2babb !important;
}