<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nueva Orden de Trabajo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript-->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../assets/js/sb-admin-2.min.js"></script>
  <script src="../assets/vendor/chart.js/Chart.min.js"></script>
</head>
<body>
	<app-nav></app-nav>
	<div class="row">
		<div class="col-7">
			<section class="section section-container" style="padding-bottom: 10px;">
		      <div class="box">
		          <h1 style="margin-left: 12%">Agregar nueva actividad</h1>
		        <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" style="margin-left: 12%">
		            <h5 *ngIf="success">Your form is valid!</h5>
		            <h3 class='subtitle'>{{ title }}</h3>
		          	<div class="field">
		          		<label>Nombre de la nueva actividad:<input class="input" type="text" v-model="nombreOT"></label>
		          	</div>
		          <div class="field">
		          	<div class="control">
		            	<button class="button is-success">Save</button>
              		</div>
              	</div>
              </form>
          </div>
      </section>
  	</div>
  	<div class="col-4">
  		<section class="section section-container" style="padding-bottom: 10px;">
  			<div class="box">
  				<h2>Actividades</h2>
  				<table class="table table-hover">
		            <thead>
		              <tr>
		                <th scope="col">#</th>
		                <th scope="col">Actividad</th>
		              </tr>
		            </thead>
		            <tbody>
		              <tr>
		                <th scope="row">1</th>
		                <td>Marca 1</td>
		              </tr>
		              <tr>
		                <th scope="row">2</th>
		                <td>Marca 1</td>
		              </tr>
		              <tr>
		                <th scope="row">3</th>
		                <td>Marca 2 </td>
		              </tr>
		          	</tbody>
		      	</table>
		      </div>
		  </section>
		</div>
	</div>
</body>
