<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Dashboard General</title>
  <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript-->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../assets/js/sb-admin-2.min.js"></script>
  <script src="../assets/vendor/chart.js/Chart.min.js"></script>
</head>

<body>
  <div class="page">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="d-flex flex-column">
      <div class="content">
          <section class="section section-container" style="padding-bottom: 15px;">
            <div class="box">
              <div class="row" >
                <div class="col-2" style="padding-left: 10%;">
                  <img  src="../assets/icons/svg/motorcyclist2_c.svg"  width="72" alt="">
                </div>
                <div class="col-8">
                  <br>
                  <h2>Datos de cliente</h2>
                  <br>
                </div>
                <div class="col-2">
                </div>
              </div>
            <div class="row">
              <div class="col-10" style="color:#4C4C4E; padding-left: 15%;">
                <div class="list-group" *ngFor="let cliente of cliente$.data" style="border: transparent;">
                  <div class="list-group-item" style="border: transparent; background-color:#f8f9f9;">
                    <ul class="list-group list-group-horizontal" style="background-color:#f4f4f4;">
                      <li class="list-group-item" style="width: 350px; border: transparent; background-color:transparent;">Nombre:<br>{{cliente.nombre}} {{cliente.apellido_p}} {{cliente.apellido_m}}</li>
                      <li class="list-group-item"style="width: 350px; border: transparent; background-color:transparent;">RUT:<br> {{cliente.rut}}</li>
                    </ul>
                  </div>
                  <div class="list-group-item" *ngIf="!updateEmail" style="border: transparent; background-color:#f8f9f9;">
                    <ul class="list-group list-group-horizontal" style="background-color:#f4f4f4;">
                      <li class="list-group-item" style="width: 780px; border: transparent; background-color:transparent;">Email:<br> {{cliente.email}}</li>
                      <button type="button" class="btn btn-sm" (click)="UpdateData('email')">
                         <img  src="../assets/icons/svg/edit(2).svg"  width="20" class="d-inline-block align-center" alt="">
                      </button>
                    </ul>
                  </div>

                   <div class="list-group-item" *ngIf="updateEmail" style="border: transparent; background-color:#f8f9f9;">
                    <ul class="list-group list-group-horizontal" style="background-color:#f4f4f4;">
                      <li class="list-group-item" style="width: 780px; border: transparent; background-color:transparent;">Email:<br>
                        <div class="row">
                          <div class="col-6">
                            <form [formGroup]="EmailEditform">
                              <input class="input" clearInput  type="email" formControlName="nuevoEmail" value={{cliente.email}}>
                            </form>
                          </div>
                          <div class="col-2">
                            <button class="btn btn-success"   (click)="onSubmitEmail(EmailEditform.value)" style="margin-left: 70%;">Actualizar</button>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="list-group-item" style="border: transparent; background-color:#f8f9f9;">
                    <div class= "row">
                      <div class="col-6" *ngIf="!updateTelefono" >
                        <ul class="list-group list-group-horizontal" style="background-color:#f4f4f4;">
                          <li class="list-group-item" style="width: 350px; border: transparent; background-color:transparent;">Teléfono:<br> {{cliente.telefono}}</li>
                          <button type="button" class="btn btn-sm" (click)="UpdateData('telefono')">
                            <img  src="../assets/icons/svg/edit(2).svg"  width="20" class="d-inline-block align-center" alt="">
                          </button>
                        </ul>
                      </div>
                      <div class="col-6" *ngIf="updateTelefono" >
                        <ul class="list-group list-group-horizontal" style="background-color:#f4f4f4;">
                          <li class="list-group-item" style="width: 350px; border: transparent; background-color:transparent;">Teléfono:<br>
                            <div class="row">
                              <div class="col-6">
                                <form [formGroup]="TelefonoEditform">
                                  <input class="input" style="width: 150px;" clearInput  type="text" formControlName="nuevoTelefono" value={{cliente.telefono}}>
                                </form>
                              </div>
                              <div class="col-2">
                                <button class="btn btn-success"   (click)="onSubmitTelefono(TelefonoEditform.value)" style="margin-left: 70%;">Actualizar</button>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-6" *ngIf="!updateCelular" >
                        <ul class="list-group list-group-horizontal" style="background-color:#f4f4f4;">
                          <li class="list-group-item" style="width: 350px; border: transparent; background-color:transparent;">Celular:<br> {{cliente.celular}}</li>
                          <button type="button" class="btn btn-sm" (click)="UpdateData('celular')">
                            <img  src="../assets/icons/svg/edit(2).svg"  width="20" class="d-inline-block align-center" alt="">
                          </button>
                        </ul>
                      </div>
                      <div class="col-6" *ngIf="updateCelular" >
                        <ul class="list-group list-group-horizontal" style="background-color:#f4f4f4;">
                          <li class="list-group-item" style="width: 350px; border: transparent; background-color:transparent;">Celular:<br>
                            <div class="row">
                              <div class="col-6">
                                <form [formGroup]="CelularEditform">
                                  <input class="input" style="width: 150px;"  clearInput  type="text" formControlName="nuevoCelular" value={{cliente.celular}}>
                                </form>
                              </div>
                              <div class="col-2">
                                <button class="btn btn-success"   (click)="onSubmitCelular(CelularEditform.value)" style="margin-left: 70%;">Actualizar</button>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="list-group-item" *ngIf="!updateDireccion" style="border: transparent; background-color:#f8f9f9;">
                    <ul class="list-group list-group-horizontal" style="background-color:#f4f4f4;">
                      <li class="list-group-item"style="width: 450px; border: transparent; background-color:transparent;">Dirección:<br> {{cliente.dir_calle}} {{cliente.dir_num}} {{cliente.dir_depto}} </li>
                      <li class="list-group-item"style="width: 350px; border: transparent; background-color:transparent;"><br> {{cliente.dir_comuna}}, {{cliente.dir_pais}}</li>
                      <button type="button" class="btn btn-sm" (click)="UpdateData('direccion')">
                         <img  src="../assets/icons/svg/edit(2).svg"  width="20" class="d-inline-block align-center" alt="">
                      </button>
                    </ul>
                  </div>

                   <div class="list-group-item" *ngIf="updateDireccion" style="border: transparent; background-color:#f8f9f9;">
                    <ul class="list-group list-group-horizontal" style="background-color:#f4f4f4;">
                      <li class="list-group-item" style="width: 890px; border: transparent; background-color:transparent;">Dirección:<br>
                        <form [formGroup]="DireccionEditform">
                          <div class="row">
                            <div class="col-6">
                              <h5 style="font-size:small;">Calle</h5>
                              <input class="input" type="text" placeholder="Calle/Población/Villa"  formControlName="Dir_calle" value="{{cliente.dir_calle}}">
                            </div>
                            <div class="col-3">
                              <h5 style="font-size:small;">Número</h5>
                              <input class="input" style="width: 100px;"  type="text" placeholder="#"  formControlName="Dir_numero" value="{{cliente.dir_num}}">
                            </div>
                            <div class="col-3">
                              <h5 style="font-size:small;">Depto</h5>
                              <input class="input" style="width: 100px;" type="text" placeholder="#"  formControlName="Dir_depto" value="{{cliente.dir_depto}}">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-6">
                              <h5 style="font-size:small;">Comuna</h5>
                              <input class="input" type="text" placeholder="Comuna"  formControlName="Dir_comuna" value="{{cliente.dir_comuna}}">
                            </div>
                            <div class="col-6">
                              <h5 style="font-size:small;">País</h5>
                              <input class="input" type="text" placeholder="País"  formControlName="Dir_pais" value="{{cliente.dir_pais}}">
                            </div>
                          </div>
                        </form>
                        <br>
                        <div class="row">
                          <button class="btn btn-success"   (click)="onSubmitDireccion(DireccionEditform.value)" style="margin-left: 70%;">Actualizar
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-10" style="padding-left: 15%; ">
                <br>
                <h2>Órdenes de trabajo asociadas</h2>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="col-1" style="text-align: center;">#</th>
                        <th class="col-4" style="text-align: center;">Marca <br>motocicleta</th>
                        <th class="col-4" style="text-align: center;">Estado</th>
                        <th class="col-1"></th>
                      </tr>
                    </thead>
                    <tbody>
                     <tr *ngFor="let ot of otRelacionadas$.data | paginate:{itemsPerPage: 8, currentPage:p}">
                       <th style="text-align: center;" scope="row">{{ot.idOT}}</th>
                       <td>{{ot.motocicleta}}</td>
                       <td>{{ot.estado}}</td>
                       <td>
                         <a (click)="gotoDetailsOT(ot.idOT)" class="btn btn-info" style="color:white;">Detalles</a>
                       </td>
                     </tr>
                   </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>
