<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nueva Orden de Trabajo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript-->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../assets/js/sb-admin-2.min.js"></script>
  <script src="../assets/vendor/chart.js/Chart.min.js"></script>
</head>
<body>
  <app-nav></app-nav>
  <div id="content-wrapper" class="d-flex flex-column" style="background-image: url('./assets/img/background4.jpg'); background-position: center; background-size: cover;">
    <div id="content">
      <div class="container-fluid" style="width: 1000px; ">
        <section class="section section-container" style="padding-bottom: 10px;">
          <div class="box" style="color: #FF0022;">
            <div class="row" style="margin-bottom: 2%;">
              <div class="col-2-sm" style="margin-left: 5%;">
                <img  src="../assets/icons/svg/motorcyclist_c.svg"  width="72" class="d-inline-block align-center" alt="">
              </div>
              <div class="col-8">
                <br>
                <h2>Datos de Cliente</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-10" style="color:#4C4C4E; padding-left: 10%;">
                <ul class="list-group" *ngFor="let cliente of cliente$.data">
                  <li class="list-group-item" style="border: transparent; background-color:#f8f9f9;">
                    <ul class="list-group list-group-horizontal">
                      <li class="list-group-item" style="width: 350px;">Nombre:<br>{{cliente.nombre}} {{cliente.apellido_p}} {{cliente.apellido_m}}</li>
                      <li class="list-group-item"style="width: 350px;">RUT:<br> {{cliente.rut}}</li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <ul class="list-group list-group-horizontal">
                      <li class="list-group-item" style="width: 350px;">Email:<br> {{cliente.email}}</li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <ul class="list-group list-group-horizontal">
                      <li class="list-group-item" style="width: 350px;">Teléfono:<br> {{cliente.telefono}}</li>
                      <li class="list-group-item" style="width: 350px;">Celular:<br> {{cliente.celular}}</li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <ul class="list-group list-group-horizontal">
                      <li class="list-group-item"style="width: 350px;">Dirección:<br> {{cliente.dir_calle}} {{cliente.dir_num}} {{cliente.dir_depto}} </li>
                      <li class="list-group-item"style="width: 350px;"><br> {{cliente.dir_comuna}}, {{cliente.dir_pais}}</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>

    