<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Dashboard General</title>
  <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript-->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../assets/js/sb-admin-2.min.js"></script>
  <script src="../assets/vendor/chart.js/Chart.min.js"></script>
</head>

<body>
  <div class="page">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="d-flex flex-column">
      <div class="content">
          <section class="section section-container" style="padding-bottom: 10px;">
            <div class="box">
            <div class="row" style="margin-bottom: 2%;">
              <div class="col-2-sm">
                <img  src="../assets/icons/svg/settings3_c.svg"  style="  padding: 5%;
                  margin-top: 20%;
                  margin-bottom: 20%;
                  margin-left: 190%;" width="72" class="d-inline-block align-center" alt="">
              </div>
              <div class="col-8" style="padding-left: 20%">
                <br>
                <h2>Órdenes de Trabajo</h2>
                <br>
              </div>
              <div class="col-2-sm">
                <button class="btn btn-light" type="button" name="button" (click)="GenerarOT()" style="height:100px;">
                  <img class="d-inline-block align-center" src="../assets/icons/svg/order.svg"  width="72" alt="">
                    <br>
                    <h6>Generar Nueva</h6>
                </button>
              </div>
            </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="col-1" style="text-align: center;">#</th>
                    <th class="col-4" style="text-align: center;">Nombre Cliente</th>
                    <th class="col-4" style="text-align: center;">Motocicleta</th>
                    <th class="col-4" style="text-align: center;">Estado</th>
                    <th class="col-1" style="text-align: center;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ot of ordenTrabajo$.data | paginate:{itemsPerPage: 8, currentPage:p}">
                    <th style="text-align: center;" scope="row">OT{{ot.idOT}}</th>
                    <td style="text-align: center;">{{ot.nombre}} {{ot.apellido_p}} {{ot.apellido_m}}</td>
                    <td style="text-align: center;">{{ot.motocicleta}}</td>
                    <td style="text-align: center;">{{ot.estado}}</td>
                    <td>
                      <a (click)="gotoDetails(ot.idOT)" class="btn btn-info" style="color:white;">Detalles</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p=$event"></pagination-controls>
          </div>
      </section>
      </div>
    </div>
  </div>
</body>
