body, html {
  	height: 100%;
}

.page{
  	background-image: url("/assets/img/background3.jpg");
  	position: fixed;
  	top: 0;
  	left: 0;
  	/* Preserve aspet ratio */
  	min-width: 100%;
  	min-height: 100%;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

section{
	position: center;
}

.content{
  padding-top: 3%;
  position: fixed;
  left:20%;
  width: 65%;
}

.box{
	border: 1px solid #34495e !important;
	background-color: #f8f9f9;
  width: auto;
}

h1{
	color: #4C4C4E;
	text-decoration: bold;
	font-family: Monaco;
	text-align: center;
	font-weight: bold;
}

h2{
	color: #4C4C4E;
	text-decoration: bold;
	font-family: Monaco;
	text-align: center;
	font-weight: bold;
}

label{
	color: #d96421;
	font-family: Monaco;
}

table{
  width: 980px !important;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  margin-left: 5% !important;
  margin-top: 2%;
}

thead{
  background-color: #4f667c;
  color: #f4f4f4;
  text-align: center;
  border-radius: 20px

}

th{
  background-color: #4f667c;
	font-family: Monaco;
	text-align: center;
  color: #f4f4f4;
}

td{
	font-family: Monaco;
	text-align: center;
}


li{
	color: #4C4C4E;
	font-family: Monaco;
	text-align: center;
	border: transparent;
	text-align: left;
}

ul {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    border: 1px solid #e3dcdc;
    border-radius: 2%;
}
