
h1{
	color: #4C4C4E;
	bold: true;
	font-family: Monaco;
	text-align: center;
	font-weight: bold;
}


h2{
	color: #4C4C4E;
	bold: true;
	font-family: Monaco;
	text-align: center;
	font-weight: bold;
}

label{
	color: #d96421;
	font-family: Monaco;
}

.box{
	border: 1px solid #FF0022 !important;
	background-color: #f8f9f9;	
}

.th{
	font-family: Monaco;
	text-align: center;
}

.td{
	font-family: Monaco;
	text-align: center;
}

li{
	color: #4C4C4E;
	font-family: Monaco;
	text-align: center;
	border: transparent;
	text-align: left;
}

ul {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    border: 1px solid #e3dcdc;
    border-radius: 2%;
}

.table{
	background-color: #f8f9f9;	
}

.button5 {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}