
h1{
	color: #4C4C4E;
	bold: true;
	font-family: Monaco;
	text-align: center;
	font-weight: bold;
}

label{
	color: #d96421;
}

.box{
	border: 2px solid #FF0022 !important;
	color: #4C4C4E;
}

div{
	color: #4C4C4E;
}
