<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nueva Orden de Trabajo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript-->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../assets/js/sb-admin-2.min.js"></script>
  <script src="../assets/vendor/chart.js/Chart.min.js"></script>
</head>

<body>
  <app-nav></app-nav>
   <div id="content-wrapper" class="d-flex flex-column" style="background-image: url('./assets/img/background4.jpg'); background-position: center; background-size: cover;">
    <div id="content">
      <div class="container-fluid" style="width: 1000px; "> 
        <section class="section section-container" style="padding-bottom: 10px;">
          <div class="box" style="align-content: center;">              
            <h1>Nueva Orden de Trabajo</h1>
            <div class="row">
              <div class="col">
                <form [formGroup]="OTform" (ngSubmit)="onSubmit(OTform.value)">
                    <div class="field">
                      <div class="row">
                        <div class="col-1-sm">
                          <img style="padding:10px; padding-left: 20px" color="primary" src="../assets/icons/svg/profile_c.svg"  width="72" class="d-inline-block align-center" alt="">
                        </div>
                        <div class="col-10">
                          <label>Nombre OT</label>
                          <div class="control">
                            <input class="input" type="text" placeholder="Orden de trabajo N"  formControlName="nombreOT">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <div class="row">
                        <div class="col-1-sm">
                          <img style="padding:10px; padding-left: 20px" src="../assets/icons/svg/motorcyclist_c.svg"  width="72" class="d-inline-block align-center" alt="">
                        </div>
                        <div class="col-10">
                        <label>Nombre de Cliente</label>
                          <div class="control">
                            <div class="row">
                              <div class="col-12" *ngIf="!estadoCliente">
                                 <select class="form-control"  formControlName="nombreCliente" >
                                    <option *ngFor="let cliente of cliente$.data" value="{{cliente.idCliente}}">{{cliente.nombre}} {{cliente.apellido_p}} {{cliente.apellido_m}}</option>
                                  </select>
                              </div>
                               <div class="col-12" *ngIf="estadoCliente">
                                 <select class="form-control" disabled formControlName="nombreCliente" >
                                    <option *ngFor="let cliente of cliente$.data" value="{{cliente.idCliente}}">{{cliente.nombre}} {{cliente.apellido_p}} {{cliente.apellido_m}}</option>
                                  </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <div class="row">
                        <div class="col-1-sm">
                          <img style="padding:10px; padding-left: 20px" src="../assets/icons/svg/motorbike_c.png"  width="72" class="d-inline-block align-center" alt="">
                        </div>
                        <div class="col-10">
                        <label>Motocicleta</label>
                         <div class="row">
                              <div class="col-3">
                                <label style="font-size: 14px;">Marca</label>
                                 <select class="form-control" placeholder="Marca" formControlName="Marca">
                                   <option *ngFor="let marca of marca$.data" value="{{marca.idMarca}}">{{marca.nombre_marca}}</option>
                                  </select>
                              </div>
                              <div class="col-3">
                                <label style="font-size: 14px;">Modelo</label>
                                 <select class="form-control" placeholder="Seleccione el modelo de motocicleta"  formControlName="Modelo">
                                    <option *ngFor="let modelo of modelo$.data" value="{{modelo.idModelo}}">{{modelo.nombre_modelo}}</option>
                                  </select>
                              </div>
                              <div class="col-3">
                                <label style="font-size: 14px;">Año</label>
                                 <select class="form-control" placeholder="Seleccione el modelo de motocicleta"  formControlName="Anio">
                                    <option *ngFor="let anio of anio$.data" value="{{anio.idAnio}}">{{anio.nombre_anio}}</option>
                                  </select>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <div class="row">
                        <div class="col-1-sm">
                          <img style="padding:10px; padding-left: 20px" src="../assets/icons/svg/work_c.svg"  width="72" class="d-inline-block align-center" alt="">
                        </div>
                        <div class="col-10">
                           <label>Tipo de trabajo</label>
                          <select class="form-control"  formControlName="Tipo">
                            <option *ngFor="let tipo of tipo$.data" value="{{tipo.idTipo}}">{{tipo.nombre_tipo}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <div class="row">
                        <div class="col-1-sm">
                          <img style="padding:10px; padding-left: 20px" src="../assets/icons/svg/traffic-lights_c.svg"  width="72" class="d-inline-block align-center" alt="">
                        </div>
                        <div class="col-10">
                          <label>Prioridad</label>
                          <div class="row">
                            <div class="col-5">
                              <button class="btn btn-warning" style="width:140px;" (click)="EsPrioridad()">
                                <label *ngIf=esPrioritario style="color:white">Es Prioridad</label>
                                <label *ngIf=!esPrioritario style="color:white">No es Prioridad</label>
                              </button>
                            </div>
                            <div class="col-5" *ngIf="esPrioritario">
                              <select class="form-control"  formControlName="Prioridad">
                                <option *ngFor="let prioridad of prioridade$.data" value="{{prioridad.idPrioridad}}">{{prioridad.motivo_prioridad}}</option>
                              </select>
                            </div>
                            <div class="col-5" *ngIf="!esPrioritario">
                              <select class="form-control"  formControlName="Prioridad" disabled>
                                <option *ngFor="let prioridad of prioridade$.data" value="{{prioridad.idPrioridad}}">{{prioridad.motivo_prioridad}}</option>
                              </select>
                            </div>
                          </div>                
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <div class="row">
                        <div class="col-1-sm">
                          <img style="padding:10px; padding-left: 20px" src="../assets/icons/svg/calendar_c.png"  width="72" class="d-inline-block align-center" alt="">
                        </div>
                        <div class="col-10">
                          <div class="row">
                            <div class="col-5">
                              <label>Fecha de Llegada</label>
                              <div class="control">
                                <input class="input" type="date"  formControlName="FechaLlegada">
                              </div>
                            </div>
                            <div class="col-5">
                              <label>Fecha de Entrega</label>
                              <div class="control">
                                <input class="input" type="date"  formControlName="FechaEntrega">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="field">
                      <div class="row">
                        <div class="col-1-sm">
                          <img style="padding:10px; padding-left: 20px" src="../assets/icons/svg/tools_c.svg"  width="72" class="d-inline-block align-center" alt="">
                        </div>
                        <div class="col-10">
                           <label>Actividades</label>
                          <div class="control">
                            <div class="field">
                              <div style="margin-left:2%">
                                <div *ngFor="let act of actividade$.data">
                                <input type="checkbox" formControlName="Actividad"  value="{{act.idActividad}}"> {{act.nombre_actividad}}<br>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <div class="control">
                        <div class="row">
                          <div class="col-10">
                          </div>

                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-3" style="padding-top: 12%">
                  <div class="row">
                    <button class="btn btn-warning" style="width:140px;" (click)="AddClient()">Nuevo Cliente</button>
                  </div>
                </div>
              </div>
              <app-add-cliente *ngIf = "estadoCliente"></app-add-cliente>
              <div class="col-12" style="padding-top: 5%; padding-left: 60%;">
                <button type="button" style="align-content: right" class="btn btn-success">Guardar</button>
              </div>                 
           </div>
         </section>
       </div>
     </div>
   </div>
 </body>
