
h1{
	color: #4C4C4E;
	bold: true;
	font-family: Monaco;
	text-align: center;
	font-weight: bold;
}

label{
	color: #d96421;
}

.box{
	border: 1px solid #FF0022 !important;
	background-color: #f8f9f9;	
}

