<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Dashboard General</title>
  <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../assets/js/sb-admin-2.min.js"></script>
  <script src="../assets/vendor/chart.js/Chart.min.js"></script>
</head>

<body>
  <div class="page">
    <div class="container">
      <div class="card card-container">
        <img class="profile-img-card" src="./assets/icons/png/user2.png" alt=""/>
        <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
        	<div class="form-group">
        		<label for="name" class="cols-sm-2 control-label">Nombre</label>
        		<div class="cols-sm-10">
        			<div class="input-group">
        				<span class="input-group-text" id="basic-addon1">
			                <img color="primary" src="./assets/icons/svg/014-name.svg"  width="22" class="d-inline-block align-center" alt="" />
			              </span>
			              <input type="text" class="form-control"  formControlName="name" placeholder="Ingrese su nombre" aria-label="name" aria-describedby="basic-addon1">
        			</div>
        		</div>
        	</div>
        	<div class="form-group">
        		<label for="name" class="cols-sm-2 control-label">Email</label>
        		<div class="cols-sm-10">
        			<div class="input-group">
        				<span class="input-group-text" id="basic-addon1">
			                <img color="primary" src="./assets/icons/svg/at.svg"  width="22" class="d-inline-block align-center" alt="" />
			              </span>
			              <input type="text" class="form-control"  formControlName="email" placeholder="Ingrese su email" aria-label="email" aria-describedby="basic-addon1">
        			</div>
        		</div>
        	</div>
        	<div class="form-group">
        		<label for="name" class="cols-sm-2 control-label">Usuario</label>
        		<div class="cols-sm-10">
        			<div class="input-group">
        				<span class="input-group-text" id="basic-addon1">
			                <img color="primary" src="./assets/icons/svg/017-user.svg"  width="22" class="d-inline-block align-center" alt="" />
			              </span>
			              <input type="text" class="form-control"  formControlName="user" placeholder="Ingrese su usuario" aria-label="user" aria-describedby="basic-addon1">
        			</div>
        		</div>
        	</div>
        	<div class="form-group">
        		<label for="name" class="cols-sm-2 control-label">Contraseña</label>
        		<div class="cols-sm-10">
        			<div class="input-group">
        				<span class="input-group-text" id="basic-addon1">
			                <img color="primary" src="./assets/icons/svg/015-password.svg"  width="22" class="d-inline-block align-center" alt="" />
			              </span>
			              <input type="password" class="form-control"  formControlName="password" placeholder="Ingrese su contraseña" aria-describedby="basic-addon1">
        			</div>
        		</div>
        	</div>

        	<div class="form-group">
            	<label for="confirm" class="cols-sm-2 control-label">Confirme Contraseña</label>
                <div class="cols-sm-10">
                	<div class="input-group">
                    	<span class="input-group-text" id="basic-addon1">
                    		<img color="primary" src="./assets/icons/svg/015-password.svg"  width="22" class="d-inline-block align-center" alt="" />
                    	</span>
                        <input type="password" class="form-control" formControlName="confirm" placeholder="Confirme su contraseña" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
          <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Registrar</button>
        </form>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="col-9">
          <img style="width:8% !important; padding-top:2%;" src="./assets/img/rozto-logo.png" class="d-inline-block align-center" alt=""/>
        </div>
        <div class="col-3">
          <img style="width:80% !important; margin-left:10%" src="./assets/img/Imagotipo horizontal.png" class="d-inline-block align-center" alt=""/>
        </div>
      </div>
    </footer>
  </div>
</body>
